# Node modules
node_modules/
frontend
# Environment variables
.env
.env.local
.env.*.local

package-lock.json
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
#5f4037a
# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build output
dist/
build/

# Optional npm cache
.npm

# Optional yarn cache
.yarn

# Optional parcel cache
.cache

# Temporary files
tmp/
*.tmp

# Debug files
*.log

# Coverage
coverage/

# Docker files
docker-compose.override.yml
